body {
    font-family: 'Marvel', sans-serif;
    background-color: rgb(113, 115, 202);
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
}

footer {
    width: 100%;
    background: rgb(56, 58, 158);
    color: #ccc;
    border-top: 10px solid #f1e148;
    padding: 25px 0px;
    height: 10px;
    clear: both;
}

.jumbotron {
    text-align: center;
    text-decoration: underline;
}

.container {
    width: 100%;
    margin: 0 auto;
    
}

#beginGifs {
    padding: 50px;
}

#gifs-show-here {
    float: left;
    width: 1400px;
    text-align: center;
    /* clear: both; */
    margin-top: 0px;
    min-height: 0rem;
}