body {
    font-family: 'Marvel', sans-serif;
    background-color: rgb(113, 115, 202);
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
}

footer {
    width: 100%;
    background: rgb(56, 58, 158);
    border-top: 10px solid #f1e148;
    padding: 25px 0px;
    height: 10px;
    clear: both;
    
}

.jumbotron {
    text-align: center;
    text-decoration: underline;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
}

#beginGifs {
    padding: 50px;
}

#gifs-show-here {
    float: left;
    width: 1400px;
    text-align: center;
    margin-top: 0px;
    min-height: 0rem;
}

#input-buttons {
    width: 300px;
    text-align: center;
    margin-top: 0px;
    float: right;
    margin-right: 20px;
    max-height: 250px;
}

.gif-button, input [type=submit] {
    font-family: 'Marvel', sans-serif;
    background: #f1e148;
    font-weight: bold;
    font-size: 20px;
    border-color: black;
    border-style: solid;
    padding: 5px 10px;
    margin: 5px;
}

.gif {
    float: left;
    padding: 8px;
}

#giphy {
    float: right;
    padding: 8px;
    margin-top: 200px;
}
